@font-face {
    font-family: 'oldEnglish';
    src: url(assets/oldEnglishFont/OLDENGL.TTF);
}
.img-scale-down {
    width: 50%;
    height: 50%;
    object-fit: scale-down;
    overflow: hidden;
}
body{   
    background-color: #E5E5CB;
}
hr{
    border-style: none;
    border-top-style: dotted ;
    border-width: 5px;
    width: 80%;
}
/* DEMO-SPECIFIC STYLES  link : https://css-tricks.com/snippets/css/typewriter-effect/*/
.typewriter h1 {
    color: rgb(0, 99, 5);
    font-family: 'oldEnglish', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 0, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 4s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0) }
  }

  /* code to center the entire website  link: https://stackoverflow.com/questions/6464592/how-to-align-entire-html-body-to-the-center*/
  html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
/* 3boxes 200x200px
    1st box 10 px border & 20px padding
    2nd box 20px border
    3rd box 10px border*/
.top-container{
   
}
.middle-container{
    
}
.bottom-container{
    
}
h1,h2{
    color: #66BFBF;

}

/* Path: style.css */
    

