
html {
    /* display: table;
    margin: auto; */

}

body {
    background-color: #E2F8F7;
    text-align: center;/* center elements that dont have specific width*/
    font-family: 'Merriweather', serif;
    margin: 0;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size:5.625rem;
    margin: 50px auto 0px auto ;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
    text-decoration:none ;
}
.top-container{
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 300px;

}
/* .green-shadow{
    text-shadow: rgb(21, 180, 0) 1px 0 10px;
} */
ion-icon {
    font-size: 128px;
}
.skill-row{
    /* display: inline; */
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.python-img{
    float: left;
    margin-right: 30px;
}
.code-img{
    float: right;
    margin-left: 30px;
}
.btn {
    margin: 50px auto;
    padding: 50px;
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.contact-me{
    /* padding: 20px; */
    margin: 30px;
}
.bottom-container{
    padding: 50px;
    background-color: #66BFBF;
}
.bottom-container a{
    padding: 10px;
}
.sign{
    color: #EAF6F6;
}
/* show me the different possible ways to center the whole body */
